/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
/* Additional styling for responsiveness */

@media only screen and (min-width: 360px) and (max-width:768px){
  .main-wrapper {
    flex-direction: column; 
}
}
body {
  color:rgb(127, 249, 255);
  background-color:black;
  font-family: 'Poppins', sans-serif; 
  width: 100%;
  display:flex;
  margin: 0;
}
html{
scroll-behavior: smooth;
}

  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
  }
  .image-container1 ,
  .image-container2 {
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  }
  .image-container1 img ,
  .image-container2 img{
    width: 100%;
    height: auto;
  }
 .outside-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
    
   }
   .header-wrapper {
    height: 500px;
    align-items: center;
    background-color: aqua;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    border: 2px solid #2D5754;
    background: radial-gradient(50% 50% at 50% 50%, #2ACBD5 31.25%, #151616 100%);
   }

   .links{
    top: 10px;
    position: absolute;
    right: 10px;
   }

   .links ul{
   list-style-type:none;
   margin: 0;
   padding: 0;
   }
   
   .links li{
    display: inline-block;
    margin-left: 10px;
   }
   .links a {
    text-decoration: none;
    color: whitesmoke;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    float:right;
   }
   .header-content {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
   }
   .main-wrapper {
    background-color: black ;
    flex-grow: 1;
   
} 
  li {
    position:inherit;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;
    text-align: center;
  }
  nav ul {
    color: aliceblue;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    border: bottom 1px solid #2ACBD5;
    font-family: 'Poppins', sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #2ACBD5;
  }
  nav .left-items,
  nav .right-items {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  nav .left-items li,
  nav .right-items li {
    margin-right:20px;
    
  }

  nav .right-items li img {
    width:15px;
    height:15px;
    margin-left:5px;
  }
  nav .right-items li span {
    font-size: 12px;
    color:white
  }

.content-container{
max-width: 1200px;
width: 100%;
height: auto;
text-align: center;
border-radius: 30px;
border-style: inset;
border: 2px solid #03FFF0;
margin-bottom: 20px;
position: relative;
align-items: center;
margin-right: auto;
margin-left: auto;
margin-top: 50px;

  }
  .Submit-button{
    background-color: #2ACBD5;
    color:black;
    padding: 8px 40px;
    border:solid 1px white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top:0;
    font-size: medium;
  }
  .Submit-button:hover{
    background-color: #8c0000;
  }

  .content-container ,p {
    font-size: large;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h1{
    color: #03FFF0;
  }
  h2{
    color: #03FFF0;
    font-size: 30px;
    border-top:1px solid #03FFF0;
    padding-top: 30px;
  }
  :placeholder-shown{
    margin-bottom: 30px;
    width: 50%;
    height: auto;
  }
  h3{
    font-size: 30px;
    text-align: center;
    font-size: 2.5em;
  }
  h4{
    font-size: 30px;
    text-align: center;
    font-size: 2.5em;
  }
  .image-overlay-1,
  .image-overlay-2 {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    z-index: 1;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    color: white;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.image-overlay-1{
 
  width: 470px;
height: 650px;
}
.image-overlay-2{
 
  width: 470px;
height: 650px;
}
a{
  color: beige;
  font-size: small;
  text-align: center;
}
.social-buttons{
  text-align: center;
}
.google-button{
  background-color: #2ACBD5;
  color:black;
  padding: 8px 20px;
  border:solid 1px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top:0;
  font-size: medium;
}
.apple-button{
  background-color: #2ACBD5;
  color:black;
  padding: 8px 20px;
  border:solid 1px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top:0;
  font-size: medium;
}
.apple-button:hover{
  background-color: #8c2c00;
}
.google-button:hover{
  background-color: #8c4400;
}

#signInForm input{
  width: 100%;
  box-sizing: border-box;
}
#signUpForm input{
  width: 100%;
  box-sizing: border-box;
}
#signUpForm,
#signInForm label{
  color: #c4edea;
}
#signInForm,
#signUpForm {
  width: 100%;
  max-width: none;
  margin: 0;
}
 .footer-wrapper {
    border-top:solid 1px aqua;
    background-color: rgb(8, 8, 8);
    color: white;
   }
   .footer-list-1 li{
     display: list-item;
     margin-top: 20px;
     margin-left: 70px;
     list-style-type:disc;
     margin-bottom: 10px;
     text-align: left;
   }
   .footer-list-2 li{
    margin-top: 20px;
    display: inline-block;
    align-items:center;
    margin-right: 50px;
  }
  
p1 {
display: flex;
width: 204px;
height: 31.125px;
justify-content: center;
align-items: flex-start;
gap: 55.39px;
flex-shrink: 0;
margin-top: 15px;
}
h5 {
  color:rgb(141, 141, 70);
  font-family:'Poppins', sans-serif;
  font-size: smaller;
  font-weight: 300;
  text-align: center;
  }